body {
    background-color: #2c3e4f;  /* dark blue */
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    padding: 2em;
}

h1 {
    font-weight: 200;
    font-size: 400%;
    margin-top: 0;
}

/* Make the rows of our form taller, so they're spaced-out */
form > div {
    height: 2em;
}

/* Make our drop-down and our text boxes pushed over to the right

   Note the use of "input[type=text]"; this selector matches an element by
   any attribute
*/
input[type=text],
select {
    position: absolute;
    left: 10em;
}

button {
  background-color: #0c1e2f;  /* very dark blue */
  color: white;
  border-radius: 10px;
  border: solid 1px white;
  padding: 1em;
}

/* Make buttons light up yellow when we hover over them

   ":hover" is a "pseudo-selector"; other things in this category are :active for
   a link that's been clicked, and :visited for a link that's been previously visited
*/
button:hover {
    cursor: pointer;
    background-color: #cc0;  /* yellow */
    color: black;
}

/* Put the results div toward the top right of the page */
#result {
    position: absolute;
    top: 20%;
    left: 40%;
    margin-right: 30px;
    border-left: solid 5px #4c5e6f;   /* medium-blue */
    padding-left: 1em;
    margin-left: 0;

}

#episode {
  font-style: italic;
}

#source {
  margin: 30px;
  text-align: right;
}