/* CSS inspired by madlibs.joelburton.com */

body {
    background-color: #333333; /* dark grey */
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    padding: 2em;
}

h1 {
    font-family: 'Lobster', cursive;
    font-weight: 200;
    font-size: 400%;
    margin-top: 0;
}

/* Make the rows of our form taller, so they're spaced-out */
form > div {
    height: 2em;
}

/* Make our drop-down and our text boxes pushed over to the right

   Note the use of "input[type=text]"; this selector matches an element by
   any attribute
*/
input[type=text],
select {
    position: absolute;
    left: 10em;
}

button {
  background-color: #666666; /* medium grey */
  color: white;
  border-radius: 10px;
  border: solid 1px white;
  padding: 1em;
}

/* Make buttons light up yellow when we hover over them

   ":hover" is a "pseudo-selector"; other things in this category are :active for
   a link that's been clicked, and :visited for a link that's been previously visited
*/
button:hover {
    cursor: pointer;
    background-color: #cc0;  /* yellow */
    color: black;
}

a:link {
    color: #cc0;
}

/* Put the results div toward the top right of the page */
#result {
    position: absolute;
    top: 20%;
    left: 240px;
    margin-right: 30px;
    border-left: solid 5px #cccccc; /* light grey */
    padding-left: 1em;
    margin-left: 0;
    max-width: 400px;
}

#episode {
    font-style: italic;
}

#details {
    margin-top: 40px;
    text-align: right;
}

#source {
    margin-top: 40px;
    text-align: right;
}

#thanks {
    font-size: 85%;
    font-style: italic;
    text-align: center;
    position: fixed;
    bottom: 10px;
}